.chat-section{
    padding: 0.5rem;
}

.message-input-container{
    width: 100%;
    padding: 0.5rem;
    height: 7dvh;
    position: fixed;
    bottom: 0%;
    left: 0%;
}

.message-input-container>#message-form{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.message-input-container>#message-form>input{
    height: 100%;
    padding: 0.3rem;
    width: 90%;
    outline: none;
}

.message-input-container>#message-form>button{
    width: 10%;
}

#message-list-container{
    display: flex;
    flex-direction:column ;
    padding: 0.8rem;
    height: 93dvh;
    font-size: 1.1rem;
    overflow: auto;
}

#message-list-container>*:not(.message-list-period){
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;
    width: auto;
    /* max-height: 500px; 
    3
    225
    180*/
    text-align: start;
}

#message-list-container>*:not(.message-list-period)>*{
    max-width: 50%;
}

#message-list-container>*:not(.message-list-period) header{
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.2rem;
}

#message-list-container>*:not(.message-list-period)>p{
    word-wrap: break-word;
  overflow-wrap: break-word; 
    padding: 0.8rem;
}

.internal-message{
    align-items: end;
}

.internal-message p{
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 1rem 0rem 1rem 1rem;
}

.external-message{
    align-items: start;
}

.external-message p{
    background-color: rgb(209, 243, 255);
    border-radius: 0em 1rem 1rem 1rem;
}

.message-list-period{
    padding: 0.5rem;
    text-align: center;
}